*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: arial;
    background-color: black;
}

.container{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0.2) 20%,
        rgba(20,20,20,0.2) 60%,
        rgba(0,0,0,1) 100%
        ),
        url('/imagens/breaking-bad.jpg');
        background-size: cover;
        padding: 0.26rem 0.75rem 0 0.75rem;
}

.hero{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 3rem;
}

.header{
    display: flex;
    align-items: center;
}

.logo img{
    width: 5.8rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu-left, .menu-right{
    display: flex;
    color: white;
    font-size: .87rem;
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li{
    padding-right: .9rem;
}

.menu .user img{
    width: 2rem;
    margin-right: .5rem;
}

.menu .user{
    display: flex;
    align-items: center;
}

.menu-right ul li{
    padding-right: 1.5rem;
}

.banner{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
}

.banner .poster{
    width: 450px;
}

.banner .subtitle{
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.25;
    padding: .5rem;
}

.buttons{
    margin-top: 2rem;
}

.buttons .btn{
    color: #fff;
    padding: 0.6rem 2rem;
    margin-right: .75rem;
    font-weight: 600;
    border-radius: 0.125rem;
    background: rgb( 51,51,51,0.4);
    font-family: inherit;
    font-size: 100%;
    border: 0;
}

.btn:hover{
    background: rgb( 51,51,51,0.8);
    cursor: pointer;
}

.buttons .btn i{
    margin-right: 0.5rem;
}

.category{
    height: 200px;
}

.category span{
    color: #e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}

.slider{
    margin-top: .8rem;
    padding-bottom: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    left: 3.75rem;
    right: 0;
}

.slider::-webkit-scrollbar {
    height: 10px;
}

.slider::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 5px;
}

.slider::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.slider .movie{
    min-width: 19.3%;
    transition: 0.3s;
}

.slider .movie:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.slider .movie img{
    max-width: 100%;
    padding-right: 10px;
}

.footer{
    margin: 10px auto 0;
    width: 80%;
    color: #808080;
}

.footer .social i{
    padding-right: 26px;
    font-size: 26px;
}

.flex{
    display: flex;
    padding-bottom: 30px;
}

.footer .info{
    width: 25%;
}

.footer .info ul{
    list-style: none;
    display: inline;
    font-size: 12px;
}

.footer .info ul li{
    margin-top: 8px;
}
